/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  background: rgba(26, 11, 46, 1);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width:1600px ; 
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    

header{
   
    padding: 16px 200px 16px 200px;
}
.nav-links{
    display: flex;
    text-decoration: none;
    list-style: none;
    color: white;
    gap: 32px;
}
.menu-icon{
    display: none;
    height: 24px;
    cursor: pointer;
}
.banner{
    background-image: url(./assets/hero-bg.jpg.png);
    background-position: center;
    width: 100%;
    height: 760px;
    /* border: 1px solid red; */
    /* margin: 0 auto; */
}
.banner-content{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 50px;
}
.content-img{
    position: relative;
    /* width: 220px;
    height: 220px; */
    margin-bottom: 20px;
}
.bg-circle{
    width: 100%;
    height: 100%;
}
.mic-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   
    
}
.badge{
    position: absolute;
    top: 15px;
    right: 15px;
    background: #00FF88;
    color: #1A0B2E;
    font-size: 1.25rem;
    font-weight: bold;
    border-radius:1000px;
    padding: 8px 16px 8px 16px;
    box-shadow: 0 0 15px rgba(0, 255, 163, 0.5);
}
.techwave-tite{
    font-size: 72px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 10px;
    animation: whiteGlow 3s infinite alternate;
}
@keyframes whiteGlow {
    0% {
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
        opacity: 0.9;
    }
    100% {
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.8), 0 0 40px rgba(255, 255, 255, 0.3);
        opacity: 1;
    }
}
.description{
    color: #FFFFFF;
    max-width: 500px;
   /* line-height: 5px; */
   margin-bottom: 30px;
}
.about-section{
    color: #FFFFFF;
    padding: 80px 20px;
    text-align: center;
}
.about-container{
    max-width: 1200px;
    margin: 0 auto;
}
.section-title{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 25px;
}
.about-summary{
    font-size: 1rem;
    color: gray;
    line-height: 1.8;
    max-width: 800px;
    margin: 0 auto 20px;
}
.about-subtext{
    font-size: 0.8rem;
    color: gray;
    margin-bottom: 40px;
}
.dividar{
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin: 40px 0;
}
.stats-grid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.stat-number{
    font-size: 2.8rem;
    color: #00FF88;
    margin-bottom: 10px;
}
.feature-section{
       padding: 100px 8%;
       color: #FFFFFF;
}
.feature-title{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 50px;
}

 .grid {
    background-color: rgba(35, 14, 61, 1);;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 180px 180px 200px;
      gap: 26px;
    }

    .card {
      background: linear-gradient(145deg, #2a145d, #1a0c3c);
      border-radius: 20px;
      padding: 20px;
      box-shadow: 0 20px 40px rgba(0,0,0,0.35);
    }

    .icon{
        margin-bottom: 20px;
    }
     .title{
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 20px;
     }
     
     .desc{
        font-size: 1rem;
        color: gray;
     }

    
    .card-1 {
      grid-column: 1 / 2;
      grid-row: 1 / 3;
    }

    .card-2 {
      grid-column: 2 / 4;
      grid-row: 1 / 2;
    }

    .card-3 {
      grid-column: 2 / 4;
      grid-row: 2 / 3;
    }

    .card-4 {
      grid-column: 1 / 3;
      grid-row: 3 / 4;
    }

    .card-5 {
      grid-column: 3 / 4;
      grid-row: 3 / 4;
    }

.feature-grid{
   
     display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto auto;
      gap: 24px;
}
.feature-card{
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 24px;
    padding: 40px;
    
}
.feature-icon{
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
}
.feature-card h3{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
}
.feature-card p{
    font-size: 1rem;
    color: gray;
    line-height: 1.6;
}
 .feature-card.tall{
    grid-row: span 2;
} 
.feature-card.wide{
    grid-row: span 2;
} 
 .episode-section{
    padding: 80px 8%;
    color: #FFFFFF;
    text-align: center;
 }
 .episode-grid{
  
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
 }
 .episode-card{
    border: 1px solid rgba(255, 255, 255, 0.301) ;
    border-radius: 24px;
    overflow: hidden;
    text-align: left;
 }
 .video-container{
    position: relative;
    padding-bottom: 24px;
    overflow: hidden;
 }
.episode-info h3{
    font-size: 1.5rem;
    margin-bottom: 12px;
    line-height: 1.4;
}
.episode-info p{
    font-size: 0.8rem;
    color: gray;
    line-height: 1.4;
    margin-bottom: 20px;
}
.duration{
    gap: 8px;
    color: #00FF88;
    font-weight: bold;
    
}
.host-section{
    color: #FFFFFF;
    padding: 80px 10%;
}
.host-title{
      font-size: 3rem;
    text-align: center;
    margin-bottom: 50px;
}
.host-container{
    max-width: 1200px;
    margin: 0 auto;
}
.host-content{
     border: 1px solid rgba(255, 255, 255, 0.301);
     border-radius: 24px;
    display: flex;
    align-items: center ;
    gap: 24px;
    padding: 40px;
}
.host-image{
    position: relative;
    max-width: 450px;
}
.host-name{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.host-bio{
    color: grey;
    font-size: 1rem;
    margin-bottom: 20px;
}
.host-socials {
    display: flex;
    gap: 20px;
}
footer{
    position: relative;
    background-image: url(./assets/footer-bg.jpg.png);
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 20px 40px;
    text-align: center;
    color: #FFFFFF;
    overflow: hidden;
}
.main-logo{
    width: 100%;
    max-width: 400px;
    margin-bottom: 50px;
}
.footer-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}
.info-links{
   
    color: gray;
    align-items: center;
    gap: 10px;

}
.footer-credits {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 20px;
    font-size: 1rem;
    color: #666;
}

  

@media screen and (max-width:1024px) {
       header{
        padding: 16px 40px;
       }
       .feature-grid, .episode-grid{
        grid-template-columns: repeat(2,1fr);
       }
       .techwave-tite{
        font-size:56px ;
       }
       .host-content{
        flex-direction: column;
        text-align: center;
       }
       .host-socials{
        justify-content: center;
       }
       .host-image{
        max-width: 300px;
       }
       .grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 180px 180px 200px;
      gap: 26px;
    }

    .card {
      background: linear-gradient(145deg, #2a145d, #1a0c3c);
      border-radius: 20px;
      padding: 10px;
      box-shadow: 0 20px 40px rgba(0,0,0,0.35);
    }

   
    .card-1 {
      grid-column: 1 / 2;
      grid-row: 1 / 3;
    }

    .card-2 {
      grid-column: 2 / 4;
      grid-row: 1 / 2;
    }

    .card-3 {
      grid-column: 2 / 4;
      grid-row: 2 / 3;
    }

    .card-4 {
      grid-column: 1 / 3;
      grid-row: 3 / 4;
    }

    .card-5 {
      grid-column: 3 / 4;
      grid-row: 3 / 4;
    }


}
@media screen  and (max-width:576px){
    .nav-links ,.nav-sub-link{
        display: none;
    }
    .menu-icon{
        display: block;
    }
    .banner{
        background-image: url(./assets/Image.png);
        background-position: center;
    }
    .bg-circle{
        width: 200px;
        height: 200px;
    }
    .mic-img{
        width: 50px;
        
    }
    .badge{
        position: absolute;
        top: 15px;
        right: -20px;
    }
   
    header{
      padding: 16px 20px;
    }
    .techwave-tite{
        font-size: 40px;
    }
    .banner{
        height: auto;
        padding-top: 60px;
    }
    
    
        .container {
    width: 95%;
  }

  h1 {
    font-size: 22px;
    margin-bottom: 24px;
    text-align: center;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: auto;
    gap: 18px;
  }

 
  .card-1,
  .card-2,
  .card-3,
  .card-4,
  .card-5 {
    grid-column: 1 / -1;
    grid-row: auto;
  }

  .card {
    padding: 20px;
    border-radius: 16px;
  }

  .icon {
    font-size: 26px;
    margin-bottom: 12px;
  }

  .title {
    font-size: 15px;
  }

  .desc {
    font-size: 13px;
    line-height: 1.5;
  }


    .stats-grid{
        flex-direction: column;
        gap: 30px;
    }
    .feature-grid,.episode-grid{
        grid-template-columns: 1fr;
    }
    .section-title{
        font-size: 2rem;
    }
    iframe {
        width: 100%; 
        height: auto;
        aspect-ratio: 16 / 9;
    }
    .host-content{
        padding: 20px;
    }
    .host-socials{
        justify-content: center;
    }
   
    .footer-info{
        gap: 15px;
    }
}

